doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet")
        title Nadja Degtjarewa. UX/UI-Designer, Webdesigner, Webentwickler (html, css, js), Dresden
        link(rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        meta(name="description" content="Nadja Degtjarewa. Web/UX/UI-Designerin, Web-Entwicklerin (html, css, js)")
        meta(name="keywords" content="Webdesign, UX/UI, Designerin, Web-Entwicklerin, html, css, js")
        link(rel="stylesheet" href="css/libs/simple-lightbox.min.css")
        link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
        link(rel="stylesheet" href="css/main-style.css")
        script
            include ../js/yam.js


    body
        header.header
            .logo
                a(href="index.html") 
                    img(src="images/logo.svg" alt="Nadja Degtiarewa. Web/UX/U-Designerin, Web-Entwicklerin (html, css, js)")
            block nav

        block content
            
        footer
            .footer
                .footer__name 
                    h3 Nadja Degtjarewa 
                    p Web/UX/UI-Designerin
                    p Web-Entwicklerin (html, css, js) 
                .footer__menu
                    +nav()
                .footer__social
                    p
                        a(href="https://t.me/ndegru")
                            img(src="images/telegram.svg" alt="")
                    p
                        a(href="https://github.com/ndeg-web/")
                            img(src="images/github.svg" alt="")
                .footer__address
                    p 
                        img(src="images/pin.svg" alt="")
                        | Deutschland, Dresden
                    p
                        img(src="images/envelope.svg" alt="")
                        a(href="mailto:ndeg.dd@gmail.com") ndeg.dd@gmail.com

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="js/libs/simple-lightbox.min.js")
        script(src="js/libs/owl.carousel.min.js")
        script(src="js/main-script.js")
